
@font-face {
    font-family: 'Cera Pro Regular';
    src: url('./utils/fonte/Cera Pro Regular.otf') format('opentype');
  }
  
  * {
    font-family: 'Cera Pro Regular', sans-serif !important;
  }
  
  .MuiSpeedDialAction-staticTooltipLabel{
    background-color: transparent !important;
    box-shadow: none !important;
    margin:0 !important;
    padding:0 !important
  }